:root{
--yellow-green-crayola: #bce784ff;
--medium-aquamarine: #5dd39eff;
--blue-munsell: #348aa7ff;
--independence: #525174ff;
--english-violet: #513b56ff;



--xiketic: #050517ff;
--flame: #cf5c36ff;
--gold-crayola: #efc88bff;
--banana-mania: #f4e3b2ff;
--light-gray: #d3d5d7ff;

--gradient:  
}


* {
    box-sizing: border-box;
  

}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-70%);
    }
}
@keyframes swell {
    0%, 100% {
        transform: scale(100%);
    }
    50% {
        transform: scale(120%);
    }
}

body{
    background: var(--xiketic);
    font-family: 'Orbitron', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    color: white;

     
}
.main-vid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10; 
}
html{
    scroll-behavior: smooth;
}



/*************************************************************NavBar**********************************************************************************************/

.navBar {
    background-color: var(--flame);
    width: 95vw;
    height: 70px;
    margin: 30px;
    margin-left: 40px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    border-radius: 50px;
}
.navBar.sticky{
    border-radius: 0px;
    width: 100vw;
    margin-left: 0px;
}

.nav-div1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--light-gray);
}

.nav-div1 a{
    color: var(--light-gray);
    text-decoration: none;
    transition: ease .4s;
    width: 100px;
    text-align: center;
    font-size: large;
     
}

.nav-div1 a:hover{
    color: var(--xiketic);

}

.nav-div2{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.nav-div2 a{
    color: var(--flame);
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    transition: ease .4s;
    width: 10rem;
    text-align: center;
    background-color: var(--light-gray); 

}
.nav-div2 a:hover{
    color: var(--yellow-green-crayola);
    transform: scale(.95);
}

.navBar a{
    text-decoration: none;
}

.navBar span{
    background-color: var(--gold-crayola);
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    transition: ease .4s;
    width: 10rem;
    text-align: center;
   
}
     
#h-menu{
    display: none;
}




.headings{
    text-transform: capitalize;
    margin: 0;
    width: fit-content;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 35px;
    color: var(--xiketic);
    background-color: var(--flame);
}




/*************************************************************MAIN SECTION**********************************************************************************************/

.main-section{
    padding: 0;
    margin: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}

.intro{
    min-width: 100vw;
    min-height:100% ;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
   z-index: 1;
    

}

#hi{
    font-size: 15rem;
    height: 100%;
    position: relative;
    top: 5rem;
    left: 10rem;
    padding: 2rem;
    
}

#i-span{
    color: var(--gold-crayola);
    display: inline-block;
    animation: bounce 2s 1 1s;
    font-size: smaller;
}

#i-span.i-span2{
   
    
}
#h-span{
    display: inline-block;
    animation: swell 2s 1;
}
#h-span.h-sapn2{

}

.intro-div1{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   right: 10rem;
   text-align: center;
   margin-top: 7rem;
}

.intro-div1 p{
    
    margin: 0;
    opacity: .7;
    line-height: 3rem;
   
}

.name {
    font-size: 2rem;
    padding: 0;
    margin: 1rem;
    color: white;
    width: 50%;
    
}
.name h1{  
    margin: 0;
    
}
.role{
    padding: 0;
    margin: 1rem;
}
.role .cyb{
   color: white;
    font-size: 2.5rem;
    opacity: 1; 
    display: inline-block;
    background-color: var(--flame);
    width: 110%;
   

}


.role .dev{
    color: white;
    font-size: 2.5rem;
    opacity: 1;
    display: inline-block;
    background-color: var(--english-violet);
    width: 110%;
   
}


.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    position: absolute;
    top: 60%;
    left: 9%;
    overflow: hidden;
    z-index: 1;
}

.social-links{
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.socials img{
    width: 3rem;
    transition: ease .4s;
}
.socials img:hover{
    transform: scale(.93);

}
.social{
    margin: 5px;
    padding: 1rem;
}
.social:hover h4{
    color: var(--flame);
}




/*************************************************************SECTION-1**********************************************************************************************/


#section1{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  
  
}

.about{
    text-transform: capitalize;
    text-align: center;
    line-height: 3rem;
    margin: 0;
    width: 100%;
    font-size: 1rem;
}

.about .span1{
    color: var(--blue-munsell);
    display: inline-block;
    font-size: larger;

}
.about .span2{
    color: var(--flame);
    font-size: larger;
}
.about .span3{
    color: var(--medium-aquamarine);
    display: inline-block;
    font-size: larger;
}



/*******************************SKILLS***********************************************/

#skills-section{
    width: 100vw;
    min-height: 100%;
    background-color: whitesmoke;
    color: black;
    margin: 0;
    overflow: hidden;

}

.tools{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
   
}

.img-sets{
  border: none;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  


}
.img{
    width: 10rem;
    border: none;
  
}
.img-animation{
    animation: swell 3s infinite;

}

.img-animation img:nth-child(1) {
    animation-delay: 0s;
}

.img-animation img:nth-child(2) {
    animation-delay: 0.2s;
}

.img-animation img:nth-child(3) {
    animation-delay: 0.4s;
}

.img-animation img:nth-child(4) {
    animation-delay: 0.6s;
}


/****************************CETIFICATIONS************************************/

.cert-section{
    width: 100vw;
    min-height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cert{
    width: 35rem;
    height: 30rem;
    border: 3px solid var(--light-gray);
    margin: 2rem;
    transition: ease-in-out .4s;
}
.cert:hover{
    transform: scale(.98);
}



/*******************************************************************SECTION-2**********************************************************************************************/


#section2{
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    justify-content: center;
    padding:20px;
    position: relative;
    
}

.box{
    background-color: white;
    color: var(--xiketic);
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    height: 30rem;
    transform: translateX(-300%);
    transition: 0.4s ease;
    position: relative;
    box-shadow: 5px 5px 0px var(--light-gray);
    overflow: hidden;
    margin: 2rem;
}


.img-div img{
    width: 100%;
    height: 100%;
}


.box-info{
    height: 100%;
    display: grid;
    grid-template-rows: 50px 275px 150px;


}

.description{
    display: flex;
    width: 100%;
    align-items: center;

}
.description p{
    padding: 20px;

}
.title{
    width: 100%;
    
}
.title h1{
    margin: 0;
    padding-top: 20px;
    height: 100%;
    text-align: center;
}

.box-buttons{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.box-buttons a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    padding: 1rem;
    border-radius:30px;
    color: var(--flame);
    background-color: var(--light-gray);
    transition: ease .4s;
    

}
.box-buttons a:hover{
    transform: scale(.95);

}

.box:nth-of-type(even) {
    transform: translateX(300%);

}

.box.show{
    transform: translateX(0%);
}



/************************************************************************************SECTION-3*********************************************************************************************************/


#section3{
    width:100vw;
    height: 80vh;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; 

}
#section3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--english-violet); 
    z-index: -1; 
    opacity: .3;
}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.contact-text span{
    color: var(--flame);
}
.contact-text h1{
    font-size: 6rem;
    font-weight: bold;
    color: var(--english-violet);
    margin: 0;
    padding-right: 2rem;
    position: relative;
    bottom: 2rem;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
    width: 50vw;
    height: 100%;
    overflow: hidden;
    color: white;
}
form input{
    margin: 15px;
    width: 600px;
    height: 60px;
    background: var(--independence);
    border: none;
}
input::placeholder {
    color: white;
    opacity: 1;
  }

form textarea{
    color: white;
    margin: 15px;
    width: 600px;
    overflow: hidden;
    border: none;
    background: var(--independence);
    font:  'Orbitron', sans-serif,;

}
textarea::placeholder {
    color: white;
    opacity: 1;
}

form .button{
    margin:15px;
    width: 150px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease .4s;
    font-family:  'Orbitron', sans-serif;

    background-color: var(--light-gray);
    color: var(--flame);
    padding: 20px;
    border-radius: 30px;
}
form .button:hover{
    cursor: pointer;
    background-color: var(--gold-crayola);
    color: var(--xiketic);
    transform: scale(.95);
}


    /******************************************************************************FOOTER SECTION******************************************************************************/
    
    
    
    
    footer{
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease .4s;
        
    }

    footer:hover{
        background:linear-gradient(179deg, #cf5c36ff 0%, #bce784ff 100%);
    }
    footer a{
        text-decoration: none;
        color: white;
    }

   
    
    
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    #ph-em{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    #ph-em p a{
        text-align: center;
    }
    




/******************************************************************************!!!!!!!END!!!!!!!!!******************************************************************************/





/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
/*********************************************************************{RESPONSIVE DESIGN}*******************************************************************/
/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/

@media (max-width: 1015px){
    .navBar {
        background-color: var(--flame);
          color: var(--xiketic);
          display: none;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          overflow: hidden;
          z-index: 100;
          width: 60%;
          height: 30vh;
          transition: ease-in-out .4s;
          position: relative;
          top: 0;
          left: 0;
          padding-top: 4rem;
  
      }
      .navBar span{
        margin:1rem;
      }

      .nav-show{
       display: flex;
         
      }
  
      #h-menu{ 
          display: block;
          position: fixed;
          top: 2rem;
          left: 3rem;
          z-index: 200;
      }

/*************************************************************MAIN SECTION**********************************************************************************************/
    
      .main-section{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
       
    
    }
    
    .intro{
        min-width: 100vw;
        min-height:60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden; 

    
    }
    .hi{
        font-size: 8rem;
        height: 100%;
      
        position: relative;
        top: 2rem;
        left: 12rem;
        padding: 2rem;
        
    }
    .hi span{
        color: var(--gold-crayola);
    }
    
    .intro-div1{ 
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative;
       right: 10rem;
       top: 0;
     
    }
    .intro-div1 p{
        
        margin: 0;
       
    }
    
    .name {
        font-size: 1.5rem;
        padding: 0;
        margin: 10px;
        color: var(--flame);
        
    }
    .name h1{
        
        margin: 0;
       
    }
    .role{
        padding: 0;
        margin: 1rem;
        font-size: 1rem;
    
    }
    .role .cyb{
        color: var(--blue-munsell);
       
    }
    .role .dev{
        color: white;
        
    }
    .role .gnr{
        color: var(--gold-crayola);
    }
    
    
    
    
    #contact-me{
        background-color: var(--light-gray);
        color: var(--flame);
        
        padding: 20px;
        border-radius: 30px;
        text-decoration: none;
        transition: ease .4s;
        position: relative;
        bottom: 5rem;
    
        width: 10rem;
        text-align: center;
           
        
    }
    #contact-me:hover{
        background-color: var(--gold-crayola);
        color: var(--xiketic);
        transform: scale(.95);
        
    }
    
    
    header video{
        position: absolute;
        top: 0%;
        left: 0%;
        /*transform: translate(-50%, -50%);*/
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
    
    .socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
       
        position: relative;
        left: 0;
    }
    
    .social-links{
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
    .socials img{
        width: 3rem;
        transition: ease .4s;
    }
    .socials img:hover{
        transform: scale(.93);
    
    }
    .social{
        margin: 5px;
        padding: 1rem;
    }
    .social:hover h4{
        color: var(--flame);
    }
  
     

/*************************************************************ABOUT SECTION**********************************************************************************************/


#about-section{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
}


.about-details{
    width: 90%;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 20rem;   
}
.about-h3{
    text-transform: capitalize;
    text-align: end;
    line-height: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    padding-right: 5rem;
}

.about-details .span1{
    color: var(--blue-munsell);
}
.about-details .span2{
    color: var(--flame);
}
.about-details .span3{
    color: var(--yellow-green-crayola);
}

.abt-img{
    width: 40%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
}
.ai{
    padding-bottom: 100px;
    transition: ease-in;
}


/*************************************************************SKILLS SECTION**********************************************************************************************/

#skills-section{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    overflow: hidden;

}


.tools{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.img-sets{
  border: none;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
}
.img-sets img{
    width: 8rem;
    padding: 1.2rem;
    border: none;
  
}


/*************************************************************CETIFICATIONS SECTION**********************************************************************************************/

.cert-section{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-gray);
}

.certs-div{
    width: 100%;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cert{
    width: 35%;
    height: 100%;
    border: none;
    padding: 1rem;
    transition: ease-in-out .4s;
}
.cert:hover{
    transform: scale(.98);
}


   /*************************************************************CONTACT-FORM SECTION**********************************************************************************************/
    
    
   #contact-form-section{
    width:100vw;
    height: 80vh;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 60%;
    height: 100%;
}

.contact-text h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--english-violet);
    position: relative;
    bottom: 0;
    left: 0;
}



.contact-text span{
    color: var(--flame);
}

.contact-text h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 60%;
    height: 100%;
    overflow: hidden;
}
form input{
    margin: 15px;
    width: 100%;
    height: 60px;
    background: var(--independence);
    border: none;
    color: white;
    font:  'Orbitron', sans-serif;
}

form textarea{
    margin: 15px;
    width: 100%;
    overflow: hidden;
    border: none;
    background: var(--independence);
    color: white;
    font-family:  'Orbitron', sans-serif;

}
form .button{
    margin:15px;
    width: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease .4s;
    font-family:  'Orbitron', sans-serif;

    background-color: var(--light-gray);
    color: var(--flame);
    padding: 20px;
    border-radius: 30px;
}
form .button:hover{
    cursor: pointer;
    background-color: var(--gold-crayola);
    color: var(--xiketic);
    transform: scale(.95);
}


   

}







@media (max-width: 850px){
    .navBar {
        background-color: var(--flame);
          color: var(--xiketic);
          display: none;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          overflow: hidden;
          z-index: 100;
          width: 60%;
          height: 30vh;
          transition: ease-in-out .4s;
          position: relative;
          top: 0;
          left: 0;
          padding-top: 4rem;
      }

      .navBar a{
        margin: 1rem;
      }
      .nav-show{
        display: flex;
         
      }

    
    /*************************************************************MAIN SECTION**********************************************************************************************/
    .main-section{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
       
    
    }
    
    .intro{
        min-width: 100vw;
        min-height:60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden; 
        
    
    }
    .hi{
        font-size: 8rem;
        height: 100%;
        
        position: relative;
        top: 2rem;
        left: 12rem;
        padding: 2rem;
        
    }
    .hi span{
        color: var(--gold-crayola);
    }
    
    .intro-div1{ 
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative;
       right: 10rem;
       top: 0;
      
    }
    .intro-div1 p{
        
        margin: 0;
       
    }
    
    .name {
        font-size: 1.5rem;
        padding: 0;
        margin: 10px;
        color: var(--flame);
        
    }
    .name h1{
        
        margin: 0;
       
    }
    .role{
        padding: 0;
        margin: 1rem;
        font-size: 1rem;
    
    }
    .role .cyb{
        color: var(--blue-munsell);
       
    }
    .role .dev{
        color: white;
        
    }
    .role .gnr{
        color: var(--gold-crayola);
    }
    
    
    
    
    #contact-me{
        background-color: var(--light-gray);
        color: var(--flame);
        
        padding: 20px;
        border-radius: 30px;
        text-decoration: none;
        transition: ease .4s;
        position: relative;
        bottom: 5rem;
    
        width: 10rem;
        text-align: center;
           
        
    }
    #contact-me:hover{
        background-color: var(--gold-crayola);
        color: var(--xiketic);
        transform: scale(.95);
        
    }
    
    
    header video{
        position: absolute;
        top: 0%;
        left: 0%;
        /*transform: translate(-50%, -50%);*/
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
    
    .socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
       
        position: relative;
        left: 0;
    }
    
    .social-links{
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
    .socials img{
        width: 3rem;
        transition: ease .4s;
    }
    .socials img:hover{
        transform: scale(.93);
    
    }
    .social{
        margin: 5px;
        padding: 1rem;
    }
    .social:hover h4{
        color: var(--flame);
    }
  
     
  
    
    /*************************************************************ABOUT SECTION**********************************************************************************************/
    
#about-section{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
}

.about-details{
    width: 90%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;  
}
.about-h3{
    text-transform: capitalize;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;

}

.about-details .span1{
    color: var(--blue-munsell);
}
.about-details .span2{
    color: var(--flame);
}
.about-details .span3{
    color: var(--yellow-green-crayola);
}

.abt-img{
    display: none;
}
.ai{
    padding-bottom: 100px;
    transition: ease-in;
}



/*************************************************************SKILLS SECTION**********************************************************************************************/

#skills-section{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    overflow: hidden;

}


.tools{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.img-sets{
  border: none;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3%;
}
.img-sets img{
    width: 6rem;
    border: none;
  
}
    
    
    /************************************************************PROJECTS SECTION**********************************************************************************************/
    

    
    
    /*************************************************************CONTACT-FORM SECTION**********************************************************************************************/
    
    
    #contact-form-section{
        width:100vw;
        height: 80vh;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    
    }
    .contact-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        width: 60%;
        height: 100%;
    }

    .contact-text h1{
        font-size: 45px;
        font-weight: bold;
        color: var(--english-violet);
        position: relative;
        bottom: 0;
        left: 0;
    }



    .contact-text span{
        color: var(--flame);
    }
   
    .contact-text h3{
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 60%;
        height: 100%;
        overflow: hidden;
    }
    form input{
        margin: 15px;
        width: 100%;
        height: 60px;
        background: var(--independence);
        border: none;
        color: white;
        font:  'Orbitron', sans-serif;
    }
    
    form textarea{
        margin: 15px;
        width: 100%;
        overflow: hidden;
        border: none;
        background: var(--independence);
        color: white;
        font-family:  'Orbitron', sans-serif;
    
    }
    form .button{
        margin:15px;
        width: 100px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: ease .4s;
        font-family:  'Orbitron', sans-serif;
    
        background-color: var(--light-gray);
        color: var(--flame);
        padding: 20px;
        border-radius: 30px;
    }
    form .button:hover{
        cursor: pointer;
        background-color: var(--gold-crayola);
        color: var(--xiketic);
        transform: scale(.95);
    }
    
    
    
    
    /******************************************************************************FOOTER SECTION******************************************************************************/
    
    
    
    
    footer{
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease .4s;
        
    }

    footer:hover{
        background:linear-gradient(179deg, #cf5c36ff 0%, #bce784ff 100%);
    }
    footer a{
        text-decoration: none;
        color: white;
    }

   
    
    
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    #ph-em{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    #ph-em p a{
        text-align: center;
    }
    
    /***********************************************************************************************************************************************************/
}



@media(max-width:650px){
    /*************************************************************MAIN SECTION**********************************************************************************************/
    .main-section{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
    
    }
    
    .intro{
        min-width: 100vw;
        min-height:60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden; 
        
    
    }
    .hi{
        font-size: 4rem;
        height: 100%;
        position: relative;
        top: 2rem;
        left: 0;
        padding: 2rem;
        
    }
    .hi span{
        color: var(--gold-crayola);
    }
    
    .intro-div1{ 
        width: 40%;
        height: fit-content;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative;
       right: 0;
       top: 0;
      
    }
    .intro-div1 p{
        
        margin: 0;
       
    }
    
    .name {
        font-size: 1.5rem;
        padding: 0;
        margin: 10px;
        color: var(--flame);
        
    }
    .name h1{
        
        margin: 0;
       
    }
    .role{
        padding: 0;
        margin: 1rem;
        font-size: 1rem;
    
    }
    .role .cyb{
        color: var(--blue-munsell);
       
    }
    .role .dev{
        color: white;
        
    }
    .role .gnr{
        color: var(--gold-crayola);
    }
    
    
    
    
    #contact-me{
        background-color: var(--light-gray);
        color: var(--flame);
        
        padding: 20px;
        border-radius: 30px;
        text-decoration: none;
        transition: ease .4s;
        position: relative;
        bottom: 1rem;
        width: 10rem;
        text-align: center;
           
        
    }
    #contact-me:hover{
        background-color: var(--gold-crayola);
        color: var(--xiketic);
        transform: scale(.95);
        
    }
    
    
    header video{
        position: absolute;
        top: 0%;
        left: 0%;
        /*transform: translate(-50%, -50%);*/
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
    
    .socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        position: relative;
        left: 0;
    }
    
    .social-links{
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
    .socials img{
        width: 3rem;
        transition: ease .4s;
    }
    .socials img:hover{
        transform: scale(.93);
    
    }
    .social{
        margin: 5px;
        padding: 1rem;
    }
    .social:hover h4{
        color: var(--flame);
    }

     
    
    /*************************************************************ABOUT SECTION**********************************************************************************************/
    
#about-section{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
}

.about-details{
    width: 90%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
  
}

.about-h3{
    text-transform: capitalize;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;

}

.about-details .span1{
    color: var(--blue-munsell);
}
.about-details .span2{
    color: var(--flame);
}
.about-details .span3{
    color: var(--yellow-green-crayola);
}

.abt-img{
    display: none;
}
.ai{
    padding-bottom: 100px;
    transition: ease-in;
}
  
     
  

}




